@using System.Security.Claims;
@{
    ViewData["Title"] = "Лабораторна робота з БД 2020. Кінотеатр";
}
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="">Лабораторна робота з БД 2020. Кінотеатр</a>
    </li>
</ul>

<ul class="navbar-nav mr-auto">
    @if (User.Identity.IsAuthenticated) {
        var roles = ((ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value);

        if (roles.Contains("admin")) {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
            </li>
        }
    }
</ul>
<ul class="nav justify-content-end">

    @if (User.Identity.IsAuthenticated) {
        <li class="nav-link disabled">@User.Identity.Name</li>

        <li class="navbar-text">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" value="Logout" />
            </form>
        </li>

    } else {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
        </li>
    }
</ul>


